@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


/*General*/

body {
  font-family: "Open Sans", sans-serif;
  background-color: #2B4450;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus {
  border-color: #F78536;
  color: #fff;
}


.button:hover, .button:focus {
  border-color: #E67526;
  color: #fff;
  background-color:#E67526;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Roboto", sans-serif;
}


.display-table {
  display: table;
}

.va-align {
  display: table-cell;
  vertical-align: middle;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  transition: 1s;

  .top-bar-left, .top-bar-right {
    ul {
      background-color: transparent;
    }
  }

  .top-bar-container {
    padding: 10px;
    background-color: white;
    height: 60px;
    width: 120px;
    border-radius: 8px;
    transition: 1s;
  }
}

.top-bar-white {
  background-color: white;
  border-bottom: 2px solid #2B4450;
}

/*General*/



.intro {
  animation: fade-slide-down 3s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  opacity: 0;
  background: url(../img/hero2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #fff;
  padding: 30px;
  text-align: center;

  .grid-x {
    height: 100%;

    .columns {
      height: 100%;
    }
  }

  .intro-gradient {
    background-color:rgba(0,0,0,0.7);
    min-height:100%;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;

    .intro-content {
      width: 100%;
    }
  }

  .next-button {
    color: white;
    font-size: x-large;
    background: #eddbd061;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #a9cd20;
    margin-top: 35px;
    cursor: pointer;
  }

  img {
    padding: 10px;
  }
}



@keyframes fade-slide-down {
  0% {
    opacity: 0.3;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


/* About */
.about {
  background-color: #fff;
  text-align: center;
  margin: 40px;
}


/* About */




/* Colors */

.orange {
  color: #F78536;
}

.light-blue-grey {
  color: #DFEBED;
}

.blue {
  color: #497285;
}

.dark-blue {
  color: #2B4450;
}

.orange-bg {
  background-color: #F78536;
}

.light-blue-grey-bg {
  background-color: #DFEBED;
}

.blue-bg {
  background-color: #497285;
}

.dark-blue-bg {
  background-color: #2B4450;
}


/*Colors*/


/*Team*/

.team {
  background-color: #fff;
  margin: 40px;
}

.team-member {
  text-align: center;
  margin-bottom :16px;
}

.team-member img {
  margin-bottom: 30px;
}

.team-member h5 {
  color: #F78536;
}

.team-member p {
  font-weight: 300;
}
/*Team*/

/* Info Section */

.info {
  background-color: #2B4450;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Info Section */


/*Blog */

.blog {
  background-color: #fff;
  margin: 30px;
}

.blog .label {
  margin-bottom: 5px;
}

.blog-item {
  margin-bottom: 10px;
}

.blog-item img {
  margin-bottom: 10px;
}

.blog-item h5 {
  color: #497285;
}

/*Blog */



/* Subscribe */

.subscribe {
  background-color: #497285;
  color: #fff;
  min-height: 100px;
  padding: 20px;
  text-align: center;
}



/* Subscribe */


/*Map*/

.map {
  background-color: #F78536;
  color: #fff;
  min-height: 50px;
  padding: 10px;
  text-align: center;
}

/* Map */


/* Contact */

.contact {
  background-image: url('../img/fourway.jpg');
  background-position: center center;
  min-height: 200px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Contact */

/*Footer */

.footer {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-social i {
  color: #497285;
  margin-left: 20px;
  font-size: 22px;
}

.footer-social i:hover {
  color: #F78536;
}


/*Footer */


/* Boomer styles */

/* Main Colors */

$boomer-cyan: #26afc1;
$boomer-green: #a8cc25;

#about {
  background-color: #efefef;

  h3 {
    color: $boomer-green;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
  }

  p {
  }
}

#contact {
  background-color: $boomer-cyan;
  h3 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
  }

  p {
    color: white;
  }

  a {
    color: #1e1e72;
    font-weight: bold;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}